/*reset browsers treats*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tableHeader{
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding: 15px;
    font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
}

.tableStyle {
    border-collapse: collapse;
    margin-left: 350px;
    margin-top: 50px;
    width: 500px;

}

.cl1 {
    text-align: center;
}

.cl2 {
    text-align: center;
}

.cl3 {
    text-align: center;
    text-decoration: none;
}

.cl3 a{
    text-decoration: none;
}