/*reset browsers treats*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.smallTextFields {
    background-color: white;
    width: 330px;
    height: 40px;
    float: left;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 5px;
}

.smallTextFields:focus {
    border-color: #4195fc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    color: rgb(0, 0, 0);
}

.largeTextField {
    background-color: white;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    width: 330px;
    height: 100px;
    float: left;
}

.largeTextField:focus {
    border-color: #4195fc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    color: rgb(0, 0, 0);
}

.msgs {
    font-size: 11px;
    color: red;
    margin-top: 500px;
}

.inboxStyle {
    color: white;
    text-decoration: none;
    margin-left: 150px;
}

.inboxStyle:hover{
    color: turquoise;
}

.addStyle {
    color: white;
    text-decoration: none;
}

.addStyle:hover{
    color: turquoise;
}

.logoutStyle {
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 10px;
}

.logoutStyle:hover{
    color: turquoise;
}

.loggedInStyle {
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 30px;
}