<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title> <ui:insert name="title">Your Title</ui:insert> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body>

    <div id="header" style="background-color: black;height: 30px;padding-top: 5px;font-family: sans-serif;">
        <ui:insert name="header">
            <ui:include src="header.xhtml"/>
        </ui:insert>
    </div>

    <div id="content" style="margin-top: 40px;height: 488px;">
        <ui:insert name="content">
            <ui:include src="content.xhtml"/>
        </ui:insert>
    </div>

    <div id="footer" style="height: 115px;background-color: #4195fc;color: sienna;">
        <ui:insert name="footer">
            <ui:include src="footer.xhtml"/>
        </ui:insert>
    </div>

</h:body>

</html>