<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
    <ui:composition>
        <h:outputLink value="home.xhtml" style="color: white;text-decoration: none;margin-left: 200px;">Inbox</h:outputLink> &nbsp;
        <h:outputLink value="newNote.xhtml" style="color: white;text-decoration: none;">Compose</h:outputLink>
    </ui:composition>
</h:body>
</html>