<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:p="http://primefaces.org/ui">
<h:body>

    <ui:composition template="commonTemplate.xhtml">

        <ui:define name="title">Home Page</ui:define>

        <!-- Override the header-->
        <ui:define name="header">
            <h:outputLink value="home.xhtml"
                          style="color: white;text-decoration: none;margin-left: 150px;">Inbox</h:outputLink> &nbsp;
            <h:outputLink value="newNote.xhtml" style="color: white;text-decoration: none;">Add Message</h:outputLink>&nbsp;
            <h:outputLink value="/j_spring_security_logout"
                          style="text-decoration: none;color: white;float: right;margin-right: 10px;">Logout</h:outputLink>
            <h:outputText value="welcome #{messageBean.loggedInUser}"
                          style="color: white;text-decoration: none;float: right;margin-right: 30px;"/>

        </ui:define>

        <!-- Override the content-->
        <ui:define name="content">

            <h:outputStylesheet library="css" name="homeStyle.css"/>
            <f:metadata>
                <f:event type="preRenderView" listener="#{messageBean.fetchMessages}"/>
            </f:metadata>

            <h:outputLabel value="Inbox" style="font-size: 30px;margin-left: 200px;color: brown;"/><br/><br/>

            <h:form id="msgForm">
                <p:growl id="msgs" showDetail="true"/>
                <p:dataTable id="messages" value="#{messageBean.messagesList}" var="msg" editable="true"
                             style="width: 950px;margin-left: 200px;text-align: center;font-size: 15.5px;" paginator="true" rows="8">

                    <p:ajax event="rowEdit" listener="#{messageBean.onRowEdit}" update=":msgForm:msgs"/>
                    <p:ajax event="rowEditCancel" listener="#{messageBean.onRowCancel}" update=":msgForm:msgs"/>

                    <p:column headerText="Message id" style="width: 110px;">
                        <h:outputText value="#{msg.msgId}"/>
                    </p:column>

                    <p:column headerText="to person" style="width: 150px;">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{msg.toPerson}"/></f:facet>
                            <f:facet name="input"> <p:inputText value="#{msg.toPerson}"/> </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Summary" style="width: 150px;">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{msg.summary}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{msg.summary}"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Content" style="width: 350px;">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{msg.content}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{msg.content}"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column style="width: 50px;">
                        <p:rowEditor/>
                    </p:column>
                    <p:column>
                        <h:commandButton value="Delete" action="#{messageBean.deleteMessage(msg.msgId)}"/>
                    </p:column>

                </p:dataTable>
            </h:form>

        </ui:define>

        <!--<ui:define name="footer">-->

        <!--</ui:define>-->

    </ui:composition>
</h:body>

</html>
