<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:H="http://java.sun.com/jsf/html"
      xmlns:p="http://java.sun.com/jsf/html">

<!--<head>-->
    <!--<title>Log in to continue </title>-->
<!--</head>-->

<!--<h:head>-->
    <!--<title>Login to continue</title>-->
<!--</h:head>-->

<!--<body>-->
<h:body>

<f:event listener="#{loginBean.updateMessages}" type="preRenderView"/>


<h:form prependId="false"
        style="margin-left: 400px;margin-top: 50px;width: 500px;background-color: dimgrey;height: 300px;padding-top: 50px;">

    <h:outputLabel value="User Name: " for="username" style="color: white;font-size: 13px;padding-left: 30px;"/>
    <h:inputText id="username" label="User Id" required="true" value="#{loginBean.name}"/>
    <h:message id="usernMsg" for="username" style="font-size: x-small;color: #F5A9A9;"/> <br/><br/>

    <h:outputLabel value="Password: " for="password" style="color: white;font-size: 13px;padding-left: 30px;"/>
    <h:inputSecret id="password" value="#{loginBean.password}" required="true" style="margin-left: 11px;"/>
    <h:message id="passMsg" for="password" style="font-size: x-small;color: #F5A9A9;"/><br/><br/>

    <h:selectBooleanCheckbox id="remember-me" style="margin-left: 100px;"/>
    <h:outputLabel value="Remember me" style="color: white;font-size: 13px;"/>

    <h:messages id="glbMsg" globalOnly="true" layout="table" style="font-size: small;color: #F5A9A9;margin-left: 100px;"/>
    <br/>

    <h:commandButton id="submitBtn" value="Submit" action="#{loginBean.doLogin}" style="margin-left: 100px;"/>
    <H:outputLabel value="Not a member?" style="margin-left: 20px;font-size: small;color: white;"/>
    <h:outputLink value="SignUp.xhtml" style="font-size: small;color: #F5A9A9;
    text-decoration: none;margin-left: 3px;">Sign Up</h:outputLink>

</h:form>
<!--</body>-->
</h:body>
</html>
