<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Create New Note</title>
</h:head>

<h:body>

    <ui:composition template="commonTemplate.xhtml">

        <ui:define name="title">Add New Note</ui:define>

        <!-- Override the header-->
        <ui:define name="header">
            <h:outputStylesheet library="css" name="newNoteStyle.css"/>
            <h:outputLink value="home.xhtml" styleClass="inboxStyle">Inbox</h:outputLink> &nbsp;
            <h:outputLink value="newNote.xhtml" styleClass="addStyle">Add Message</h:outputLink>&nbsp;
            <h:outputLink value="/j_spring_security_logout" styleClass="logoutStyle">Logout</h:outputLink>
            <h:outputText value="welcome #{messageBean.loggedInUser}" styleClass="loggedInStyle"/>

        </ui:define>

        <ui:define name="content">
            <h:outputStylesheet library="css" name="newNoteStyle.css"/>
            <h:form id="form" style="margin-left: 500px;margin-top: 40px;">


                <h:outputLabel value="To" style="color: brown;font-size: small;"/><br/>
                <h:inputText id="toPerson" value="#{messageBean.toPerson}" styleClass="smallTextFields"
                             required="true"/>
                <h:message for="toPerson" styleClass="msgs"/>
                <br/><br/><br/>

                <h:outputLabel value="Summary" style="color: brown;font-size: small;"/><br/>
                <h:inputText id="summ" value="#{messageBean.summary}" required="true" styleClass="smallTextFields"/>
                <h:message for="summ" styleClass="msgs"/><br/><br/><br/>

                <h:outputLabel value="Content" style="color: brown;font-size: small;"/><br/>
                <h:inputTextarea cols="50" rows="15" value="#{messageBean.content}"/>

                <p:commandButton action="#{messageBean.addNote}" value="Save Note" update="@form"
                                 onsuccess="setTimeout ( '$(\'#form\\\\:mmsg\').hide()', 3000);" style="font-size: small;"/>
                <h:messages id="mmsg" globalOnly="true" layout="table" style="font-size: small;color: brown;"/>

            </h:form>

        </ui:define>

    </ui:composition>

</h:body>

</html>