<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <h:outputLabel value="Became a member"
                   style="font-size: large;margin-left: 450px;margin-top: 50px;"/>

    <h:form style="margin-left: 400px;margin-top: 50px;">

        <h:outputLabel value="Choose a Username:" style="font-size: 12px;"/><br/>
        <h:inputText id="usern" value="#{signUpBean.username}" required="true"/>
        <h:message for="usern" style="font-size: small;color: red"/><br/><br/>

        <h:outputLabel value="Choose a Password:" style="font-size: 12px;"/><br/>
        <h:inputText id="pass" value="#{signUpBean.password}" required="true"/>
        <h:message for="pass" style="font-size: small;color: red"/><br/><br/>

        <h:commandButton action="#{signUpBean.doRegister}" value="Sign Up"/>
        <h:messages globalOnly="true" layout="table" style="font-size: small;color: red;"/>

    </h:form>
</f:view>
</html>
